<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor="let pedido of pedidos">
    <ion-card-header>
      Pedido nº <strong>{{pedido.id}}</strong>
      <span style="float: right;">{{pedido.instante}}</span>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <h2>Endereço de entrega</h2>
        <ion-item>
          <p>{{pedido.enderecoDeEntrega?.logradouro}}, {{pedido.enderecoDeEntrega?.numero}}</p>
          <p>{{pedido.enderecoDeEntrega?.complemento}} {{pedido.enderecoDeEntrega?.bairro}} CEP {{pedido.enderecoDeEntrega?.cep}}</p>
          <p>{{pedido.enderecoDeEntrega?.cidade.nome}}, {{pedido.enderecoDeEntrega?.cidade.estado.nome}}</p>
      </ion-item>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
          <h2>Pagamento</h2>
          <ion-item *ngIf="pedido.pagamento['@type']=='pagamentoComCartao'">
            <h3>Pagamento com cartão</h3>
            <p>Parcelas: {{pedido.pagamento.numeroDeParcelas}}</p>
            <p>Estado: {{pedido.pagamento.estado}}</p>
          </ion-item>
          <ion-item *ngIf="pedido.pagamento['@type']=='pagamentoComBoleto'">
            <h3>Pagamento com boleto</h3>
            <p>Estado: {{pedido.pagamento.estado}}</p>
          </ion-item>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item *ngFor="let item of pedido.itens">
        <ion-thumbnail item-start>
          <img [src]="item.produto.imageUrl || 'assets/imgs/prod.jpg'">
        </ion-thumbnail>
        <h2>{{item.produto.nome}}</h2>
        <p>{{item.produto.preco | currency}}</p>
        <p class="nolinebreak">{{item.quantidade}}</p>
        <p item-end>{{item.produto.preco * item.quantidade | currency}}</p>
      </ion-item>

      <ion-item>
        <h2>Total</h2>
        <h2 item-end>{{pedido.valorTotal | currency}}</h2>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>